<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Landon Hotel: Room Reservations</title>
  </head>
  <body>
    <h1>Welcome to the Reservations Page</h1>
    <table>
      <tr>
        <td>Room</td>
        <td>Room Number</td>
        <td>Guest</td>
      </tr>
      <tr th:each="hotelReservation: ${hotelReservations}">
        <td th:text="${hotelReservation.roomName}">Room Name</td>
        <td th:text="${hotelReservation.roomNumber}">Room Number</td>
        <td th:text="${hotelReservation.lastName}!=null? ${hotelReservation.lastName} + ', ' +
            ${hotelReservation.firstName}: 'VACANT'">Guest</td>
      </tr>
    </table>
  </body>
</html>